<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FreeBoard">

	<insert id="insertBoard">
		<selectKey keyProperty="fr_seq" resultType="int"
			order="BEFORE">
			select fr_seq.nextval from dual
		</selectKey>
		insert into free_board values(#{fr_seq},
		#{fr_category} , #{fr_writer},
		#{fr_title}, #{fr_contents}, 0, sysdate)

	</insert>

	<select id="selectList" resultType="p.memory.dto.FreeBoardDTO">
		select * from free_board
		order by fr_seq desc
	</select>

	<select id="selectBySeq" resultType="p.memory.dto.FreeBoardDTO">
		select * from free_board
		where fr_seq = #{fr_seq}
	</select>

	<update id="updateBoard">
		update free_board set fr_category = #{fr_category},
		fr_title = #{fr_title},
		fr_contents = #{fr_contents} where fr_seq =
		#{fr_seq}

	</update>

	<delete id="deleteBoard">
		delete from free_board where fr_seq = #{fr_seq}
	</delete>

	<!--조회수 업데이트 쿼리 -->
	<update id="updateViewCount">
		update free_board set fr_view_count = fr_view_count
		+1 where fr_seq = #{fr_seq}
	</update>

	<!--게시물 총개수 + 검색ver -->
	<select id="getPostsCount" resultType="int" parameterType="hashMap">
		select count(*) from
		free_board
		<if test="field.equals('fr_title')">
			WHERE fr_title LIKE '%' || #{query} || '%'
		</if>
		<if test="field.equals('fr_contents')">
			WHERE fr_contents LIKE '%' || #{query} || '%'
		</if>
		<if test="field.equals('fr_writer')">
			WHERE fr_writer LIKE '%' || #{query} || '%'
		</if>
	</select>

	<!--목록 불러오기 + 페이징 + 검색-->
	<select id="selectBoundWithSearch" parameterType="hashMap"
		resultType="p.memory.dto.FreeBoardDTO">
		SELECT * FROM (
		SELECT ROWNUM AS rn, t.*
		FROM (
		SELECT *
		FROM free_board
		<if test="field.equals('fr_title')">
			WHERE fr_title LIKE '%' || #{query} || '%'
		</if>
		<if test="field.equals('fr_contents')">
			WHERE fr_contents LIKE '%' || #{query} || '%'
		</if>
		<if test="field.equals('fr_writer')">
			WHERE fr_writer LIKE '%' || #{query} || '%'
		</if>
		ORDER BY fr_seq DESC
		) t
		)
		WHERE rn BETWEEN #{start} AND #{end}
	</select>














</mapper>