<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Heart">

	<insert id="insert">
		insert into heart values(#{per_seq}, #{id})
	</insert>

	<select id="selectList" resultType="p.memory.dto.HeartDTO">
		select * from heart where id= #{id}
	</select>

	<delete id="delete">
		delete from heart where per_seq = ${per_seq} and
		id=#{id}
	</delete>

	<select id="selectHeart" resultType="int">
		select count(*) from heart where per_seq = #{per_seq} and id=#{id}
	</select>
</mapper>