<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="MyPage">

	<!--내가 쓴 글 총 개수 -->

	<select id="getMyPostsCount" resultType="int">
		select count(*) from
		free_board
		where fr_writer = #{fr_writer}
	</select>

	<!-- 내가 쓴 글 목록 불러오기 + 페이징 -->
	<select id="selectMyPost" parameterType="hashMap"
		resultType="p.memory.dto.FreeBoardDTO">
		select * from (
		select rownum as rn, t.*
		from (
		select *
		from
		free_board
		order by fr_seq desc
		) t
		)
		where rn between #{start} and #{end}
		and
		fr_writer = #{fr_writer}
	</select>

	<!-- 내가 북마크한 글 불러오기 + 페이징 -->
	<select id="selectBookmarkedPosts" parameterType="hashMap"
		resultType="p.memory.dto.FreeBoardDTO">
		SELECT *
		FROM (
		SELECT ROW_NUMBER() OVER (ORDER BY fb.fr_seq
		DESC) AS rn, fb.*
		FROM free_board fb
		JOIN bookmark b ON fb.fr_seq =
		b.fr_seq
		WHERE b.user_id = #{id}
		) t
		WHERE rn BETWEEN #{start} AND #{end}
	</select>

	<!--북마크한 글 총 개수 -->

	<select id="getBookmarkedPostsCount" resultType="int">
		SELECT COUNT(*)
		AS bookmarked_posts_count
		FROM free_board fb
		JOIN bookmark b ON
		fb.fr_seq = b.fr_seq
		WHERE b.user_id = #{userId}
	</select>

	<!--내가 좋아요한 향수 총 개수 -->
	<select id="getLikedPerfumeCount" resultType="int">
		select count(*) as
		liked_perfume_count
		from perfume p
		join heart h on
		p.per_seq = h.per_seq
		where h.id = #{userId}
	</select>

	<!--내가 좋아요한 향수 불러오기 -->
	<select id="selectLikedPerfume" parameterType="String"
		resultType="p.memory.dto.PerfumeMainDTO">
		select p.per_seq, p.per_name, p.per_brand, i.sysname, h.id
		from perfume
		p
		left join perfume_image i on p.per_seq = i.per_seq left
		join heart h
		on p.per_seq = h.per_seq
		where h.id = #{userId} order by
		p.per_seq asc
	</select>
	
	<!--내가 작성한 qna  -->
	<select id="selectMyQna" resultType="p.memory.dto.QnABoardDTO">
		select * from qna_board
		where qa_writer = #{loggedID} 
	</select>

	<!--내가 작성한 댓글 -->
	<!-- <select id="selectMyComments" resultType="p.memory.dto.FrReply"> select 
		* from fr_reply where re_writer = #{re_writer} </select> -->

</mapper> 