<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Reply">
	<insert id="insert">
		insert into perfume_reply values(perfume_reply_seq.nextval, #{writer},
		#{contents}, sysdate, #{per_seq})
	</insert>

	<select id="select" resultType="p.memory.dto.PerfumeReplyDTO">
		select * from perfume_reply where per_seq = #{per_seq}
		order by re_seq asc
	</select>

	<update id="update">
		update perfume_reply
		set
		contents = #{contents},
		writeDate = sysdate
		where re_seq = #{re_seq}
	</update>

	<delete id="delete">
		delete from perfume_reply where re_seq=#{re_seq}
	</delete>



</mapper>