<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnAFile">

<!-- 파일 업로드 -->
<insert id="insert">
insert into qna_image values (qna_image_seq.nextval,#{oriName},#{sysName},#{qa_seq})
</insert>

<!-- 파일 리스트 출력  -->
<select id="select" resultType="p.memory.dto.QnAFileDTO">
select * from qna_image where qa_seq=#{qa_seq}
</select>

</mapper>